/* ==========================	
  BODY
=========================== */	

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 20px;
  color: #fff;
  background-color:#222;
  text-align: center;
  line-height: 1.5;
}

/* ==========================
  MEDIA QUERIES
=========================== */	

/* mobile */
@media only screen and (min-width: 0px) and (max-width: 768px) {
h1{
  font-size: 35px;
}
section p{
  font-size: 15px;
}
.card {
  width: 90%;
  margin-top: 10px;
}
.about-me-wrapper{
  background:ghostwhite;
  /*padding: 30px;*/
  font-size: 17px;
}
.about-me{
  color: #222;
}
.project-image{
  width: 100%;
  margin-right: 100px;
  /*visibility: hidden;*/
}
.project-title{
 /*visibility: hidden;*/
 }
.project-info{
  visibility: hidden;
}
.project-info-mobile {
  color: black;
  border: 5 px solid green;
}
}

/* not mobile */
@media only screen and (min-width: 768px){
h1{
  font-size: 60px;
}
.card {
  width: 70%;
  margin: 0 auto;
}
.about-me-card{
  padding-top: 50px;
  margin: 0 auto;
}
.project-info-mobile {
  visibility: hidden;
}
}

/* ==========================
	BASICS
=========================== */	

h1 {
  color: #fff;
  font-family: helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

u {
  text-decoration: none;
  border-top:1px solid #fff;
}

i {
  text-align: center;
  position: center;
  color: white;
  padding: 15px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  height: 100px;
  width: 100px;
  /*border-radius: 70%;*/
  display:inline-block;
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

h4 {
  color: #2850ad;
}
/* subway circle */
/*span {
  top: 7px;
  left: 5%;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  line-height: 55px;
  font-size: 42px;
  text-align: center;
  background: #2850ad;
  color: #fff;
}*/

/* ==========================
  SECTION
=========================== */	

section {
  /*border-top: 4px solid #fff;*/
  padding-top: 4% 0;
  background-color: #222;
}

section:nth-child(even) {
  /*border-top: 4px solid #fff;*/
  background-color: #222;
  /*color: #222;*/
  ;
}

.header {
  text-align: center;
}

/* ==========================
  CARD
=========================== */	

.card {
  /*background: #2850ad;*/
  background: ghostwhite;
  border-radius: 1%;
  display: inline-block;
  height: 350px;
  margin: 1rem;
  position: relative;
  margin-top: 40px;
  margin-bottom: 70px;
}

.card:nth-child(odd){
  background: palegoldenrod;
}


.about-me-wrapper{
  padding: 20px;
  background: #222;
  color: ghostwhite;
  z-index: 4;
  height: 100%;
  width: 100%;
  text-align: left;
}

/*.about-me-image{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  float: left;
}*/

/* ==========================
  PROJECT
=========================== */	
.project-header {
  text-align: left;
  margin-left: 40px;
}

.project-wrapper{
}

.project-title-image {
  float: left;
  width: 50%;
  /*background-color: yellow;*/
  z-index: 3;
  height: 100%;
}

.project-title-image img{
  padding: 20px;
  border-radius:  50%;
  height:200px;
  width: 200px;
}

#hanzi .project-title-image{
  float: right;
}

#symphesis .project-title-image{
  float: right;
}


.project-title {
  padding-top: 50px;
  font-size: xx-large;
  color: #222;
}

.project-info {
  float: right;
  width: 50%;
  /*background-color: lightgreen;*/
  z-index: 3;
  height: 100%;
  margin: 0;
}

.project-info p{
  padding-top: 100px;
  color: #222;
  padding-left: 10%;
  padding-right: 10%;
}

.project-info i{
  color: #222;
}

.project-info:nth-child(odd) {
  float: left;
}


/* ==========================
  RIBBON
=========================== */	

.corner-ribbon{
  width: 200px;
  background: #fccc0a;
  color:#222;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
}

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* ==========================
  FOOTER
=========================== */	


/*.contact-info {
  border-top: 1px solid #fff;
}*/

.contact i:hover {
  color: #ee352e;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #fff;
}

.copyright {
  font-size: 10px;
  color: grey;
  border-bottom: 1px solid snow;
}

.email {
  margin-bottom: 50px;
}

/* ==========================
  MAP NAV
=========================== */	


.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 600px;
    -webkit-transform: translate(65px,51px);
    transform: translate(65px,51px);
    z-index: 1;
}
.line {
    background: #ffcb08;
}

.stop{
  border: 1px solid #ffcb08;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transform: translate(-45px,-25px);
  background: #ffcb08;
}

.about-me-stop{
  transform: translate(-45px, 60px);
}

.projects-stop{
  transform: translate(-45px, 100px);
}

.contact-stop{
  transform: translate(-45px, 180px);
}