/* ==========================	
  BODY
=========================== */	

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 20px;
  color: #fff;
  background-color:#222;
  text-align: center;
  line-height: 1.5;
}
html {
  display: block;
  width: 100%;
}

#title{
  margin-bottom: 0;
  color: ghostwhite;
}

/* ==========================
  MEDIA QUERIES
=========================== */	

/* mobile */
@media only screen and (min-width: 0px) and (max-width: 768px) {

h1{
  font-size: 35px;
}

section p{
  font-size: 21px;
}

.card {
  width: 80%;
  margin-top: 10px;
}

.about-me-wrapper p{
  padding-left: 0;
  padding-right:0; 
  padding-bottom: 15px;
  font-size: 20px;
}

.project-image{
  width: 100%;
  margin-right: 100px;
  /*visibility: hidden;*/
}

.project-info{
  visibility: hidden;
}

#symph-info, #wiki-info, #hanzi-info{
  color: #222;
  font-size: 15px;
  padding: 7px;
}

.project-title h1{
  margin-bottom:0;
}

}

/* not mobile */
@media only screen and (min-width: 768px){
h1{
  font-size: 60px;
}
.card {
  width: 50%;
  margin: 0 auto;
}
.about-me-card{
  padding-top: 50px;
  margin: 0 auto;
}
}

/* ==========================
	BASICS
=========================== */	
a{
  text-decoration: none;
}

h2{
  font-family: 'EB Garamond',serif;
  text-decoration: underline;
  /*text-decoration-style: thick;*/
}

h1, h2 {
  color: #99CCFF;
  margin-top: 10px;
  margin-bottom: 20px;
}

u {
  text-decoration: none;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
}

i {
  text-align: center;
  position: center;
  color: #222;
  padding: 15px;
  text-decoration: none;
}

i:hover {
  text-align: center;
  position: center;
  color: #2850ad;
  padding: 15px;
  border-radius: 50%;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  height: 50px;
  width: 50px;
  /*border-radius: 70%;*/
  display:inline-block;
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

/* ==========================
  SECTION
=========================== */	

section {
  padding-top: 4% 0;
  background-color: #222;
}

/* ==========================
  ABOUT
=========================== */	

.header {
  text-align: center;
}

.about-me-wrapper{
  background: #222;
  color: ghostwhite;
  z-index: 4;
  height: 100%;
  width: 100%;
  /*text-align: ce;*/
  /*margin-left: 40px;*/
}

.about-me-wrapper h2 {
  margin-left: 0;
}

.highlight{
  color: palegoldenrod;
  font-weight: bold;
}
/*.about-me-image{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  float: left;
}*/

/* ==========================
  PROJECTS
=========================== */	
.project-wrapper{
  height: 100%;
  width: 100%;
}

.project-title-image {
  float: left;
  width: 100%;
  /*background-color: yellow;*/
  z-index: 3;
  height: 100%;
}

.project-title-image img{
  margin: 10px;
  border-radius:  90%;
  height:100px;
  width: 100px;
  /*border: 3px solid #222;*/
}

#hanzi .project-title-image{
  float: right;
}

#symphesis .project-title-image{
  float: right;
}

#symph-info, #wiki-info, #hanzi-info{
  color: #222;
  font-size: medium;
  padding: 10px;
}

#symph-stack, #wiki-stack, #hanzi-stack{
  color: #2850ad;
  font-size: small;
  padding: 10px;
}

.project-title {
  font-size: 1.5em;
  color: #222;
}

.project-info {
  float: right;
  width: 100%;
  /*background-color: lightgreen;*/
  z-index: 3;
  height: 100%;
  margin: 0;
}

.project-info p{
  visibility: hidden;
  color: #99CCFF;
  padding-left: 10%;
  padding-right: 10%;
}

.project-info i{
  color: #222;
  padding-bottom: 5px;
}

.project-info:nth-child(odd) {
  float: left;
}


/* ==========================
  RIBBON
=========================== */	

.corner-ribbon{
  width: 200px;
  background: #fccc0a;
  color:#222;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
}

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


/* ==========================
  CARD
=========================== */	

.card {
  /*background: #2850ad;*/
  background: ghostwhite;
  border-radius: 1%;
  display: inline-block;
  height: 410px;
  margin: 1rem;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card:hover{
  transform: translateY(-3px);
  box-shadow: 0px 2px 20px #99CCFF;
  /*box-shadow: 10px 10px 5px #2850ad;*/
}

.card:nth-child(odd){
  background: palegoldenrod;
}

/* ==========================
  FOOTER
=========================== */	


.contact-info {
  background: #222;
  color: ghostwhite;
  z-index: 4;
  height: 100%;
  width: 100%;
}

.contact-info p, h2{
  /*text-align: left;
  margin-left: 40px;*/
}

.contact-info i, a {
    margin-left: -1px;
    padding-left: -2px;
    color: ghostwhite;
}

.contact i:hover {
  border-radius: 1%;
  background: ghostwhite;
  color: #2850ad;
  box-shadow: 0 1px 3px 0 tint(#000000,44%), 0 1px 1px  0 tint(#000000,68%);
}

.copyright {
  font-size: 10px;
  color: grey;
  border-bottom: 1px solid snow;
}
