
/* =============================================================================
  MEDIA QUERIES
============================================================================= */	
/*mobile*/
@media only screen and (min-width: 0px) and (max-width: 768px) {
nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 5%;
  z-index: 10;
  width: 100%;
  background: #fff;
  /*color: #fff;*/
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  /*border-top: 4px solid #fff;*/
}
nav span {
  top: 7px;
  left: 5%;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  line-height: 55px;
  font-size: 42px;
  text-align: center;
  background: #2850ad;
  color: #fff;
}
h1{
  color: #fff;
  font-size: 35px;
  font-family: helvetica, sans-serif;
}
section p{
  color: #fff;
  font-family: 'EB Garamond', serif;		
  font-size: 15px;
}
}
@media only screen and (min-width: 768px){
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  background: #222;
  color: #fff;
  font-weight: bold;
  text-align: left;
  font-size: 40px;
  border-top: 4px solid #fff;
}
section p{
    padding: 20px 1;
    padding-left: 40px;
    padding-right: 40px;
    width:70%;
    margin-top: 3%;
    margin-left: auto; 
    margin-right: auto;
    color: #fff;
    font-family: 'EB Garamond', serif;		
}
h1{
  color: #fff;
  font-size: 60px;
  font-family: helvetica, sans-serif;
}
}
/* =============================================================================
	BODY
============================================================================= */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 20px;
  color: #fff;
  background-color:#222;
  text-align: center;
  line-height: 1.5;
}
/* =============================================================================
	BASICS
============================================================================= */
u {
  text-decoration: none;
  border-bottom:1px solid #fff;
}

i {
  text-align: center;
  position: center;
  color: white;
  padding: 15px;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 70%;
  display:inline-block;
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

h4 {
  color: #2850ad;
}

.copyright {
  font-size: 10px;
  color: grey;
}

/* =============================================================================
  NAV
============================================================================= */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  background: #222;
  color: #fff;
  font-weight: bold;
  text-align: left;
  font-size: 40px;
  padding-left: 25%;
  border-top: 4px solid #fff;
  border-bottom: 1px solid #fff;
}

nav span {
  position: fixed;
  top: 7px;
  left: 5%;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  line-height: 55px;
  font-size: 42px;
  text-align: center;
  background: #2850ad;
  color: #fff;
}

/* =============================================================================
  SECTION
============================================================================= */

section {
  /*border-top: 4px solid #fff;*/
  padding-top: 4% 0;
  background-color: #222;
}

section:nth-child(even) {
  /*border-top: 4px solid #fff;*/
  background-color: #222;
  /*color: #222;*/
  ;
}

section h3{
  padding-top:20px;
  text-decoration: underline;
}

.contact-info {
  border-top:1px solid #fff;
}

.contact-info p{
  font-size: 14px;
}

footer{
  color:#666;
}